### NAMA: Ariba Raihana Alyashila
### NIM: 103102400023
### KELAS : DS 04 02
## Rangkuman Materi Pertemuan Satu sampai Terakhir

## MATERI 1

## How to print

In [6]:
print("Hello, World!")

Hello, World!

In [8]:
print(f"Hello, World!")

Hello, World!

## Komentar

In [11]:
# dinamakan komentar

"""
ini juga komentar gaes, tapi bisa banyak baris
ini juga komentar gaes, tapi bisa banyak baris
ini juga komentar gaes, tapi bisa banyak baris
ini juga komentar gaes, tapi bisa banyak baris
"""

print("Komentar tidak akan mengeluarkan output apapun")

Komentar tidak akan mengeluarkan output apapun

In [ ]:
#Variabel 

Aturan Penulisan Variabel:

1. Nama variabel boleh diawali menggunakan huruf atau garis bawah _. Contoh: nama, _nama, namaKu, nama_variabel
2. Karakter selanjutnya dapat berupa huruf, garis bawah _ atau angka. Contoh: __nama, n2, nilai1
3. Variabel tidak boleh dimulai dengan angka ataupun simbol.
4. Variabel tidak boleh berupa kata kunci (keyword) yang ada dalam Python. Contoh: if, else, while, for, dan masih banyak lagi

In [13]:
# Variabel
Nama = "Rendika"
umur = 50
status_pernikahan = "Belum Menikah"
statuspernikahan = "Menikah"

## Tipe data

In [22]:
# Tipe data
bilangan_bulat = 10
bilangan_desimal = 3.14
teks = "Halo, dunia!"
teks_multibaris = '''Rendika
dan
sayyid'''
boolean = True

nama= "rendika"
umur= 18

# Menampilkan nilai variabel
print('Nama:', nama, 'dan Umur:', umur)
print(f"Nama: {nama} dan Umur: {umur}")
print('\n')
print(teks_multibaris)

Nama: rendika dan Umur: 18
Nama: rendika dan Umur: 18


Rendika
dan
sayyid

## MultiStatment Variabel

In [24]:
nama = "Sayyid"
a = 10; b = 50
kesibukan, keterangan = 'Berkuliah','Institut Teknologi Telkom Surabaya'

In [26]:
print(f"Nama saya {nama} dan Umur saya adalah {a+b} Tahun dan sedang {kesibukan} di {keterangan}")

Nama saya Sayyid dan Umur saya adalah 60 Tahun dan sedang Berkuliah di Institut Teknologi Telkom Surabaya

## Input Dari Pengguna

In [29]:
nama = input("Masukkan nama Anda: ")
makan = 'sudah'
harga = int(input("Berapa harganya?: "))

print('\n')
print("Halo, aku", nama, 'dan aku', makan, 'makan ayam goreng yang harganya Rp', harga)

Masukkan nama Anda:  ariba
Berapa harganya?:  40000

Halo, aku ariba dan aku sudah makan ayam goreng yang harganya Rp 40000

## Percabangan

In [37]:
nilai = int(input("Masukkan nilaimu: "))

if nilai >= 70:
    print("Selamat anda lulus MatKul Algoritma & Pemrograman!")
elif nilai == 20:
    print('Semoga Lulus')
else:
    print("Maaf anda tidak lulus")

Masukkan nilaimu:  20

Semoga Lulus

## Looping and While

In [40]:
for i in range(1,5):
    print(i)
    print('Namaku',i)

1
Namaku 1
2
Namaku 2
3
Namaku 3
4
Namaku 4

In [42]:
names = ['Rendika',"Sayyid","Habil","Arifin"]
for name in names:
    print("Nama Saya",name)
    print("Ini cuman nyoba",name)

Nama Saya Rendika
Ini cuman nyoba Rendika
Nama Saya Sayyid
Ini cuman nyoba Sayyid
Nama Saya Habil
Ini cuman nyoba Habil
Nama Saya Arifin
Ini cuman nyoba Arifin

## Fungsi

In [45]:
def jumlah(angka1, angka2):
    hasil = angka1+angka2
    return hasil

def pengurangan(angka1, angka2):
    hasil = angka1-angka2
    return hasil

In [47]:
jumlah(10,4)

14

In [49]:
pengurangan(10,15)

-5